<div class="navbar">
  <div class="left-side"></div>
  <div class="center-side">
    <%= link_to image_tag('logo.svg', class:"logo"), cocktails_path %>
  </div>
  <div class="right-side">
    <%= link_to "Add cocktail", new_cocktail_path, class:"new-cocktail" %>
  </div>
</div>

<div class="back-button">
  <%= link_to fa_icon("chevron-left", text: "Back"), cocktails_path, class:"back-button-icon" %>
</div>


<div class="new-cocktail-form">
  <%= simple_form_for @cocktail do |f| %>
    <%= f.text_field :name, placeholder:"Enter the name of your cocktail: ", class:"new-cocktail-name" %>
    <%= f.submit "Create" %>
  <% end %>
</div>
