<div class="navbar">
  <div class="left-side"></div>
  <div class="center-side">
    <%= link_to image_tag('logo.svg', class:"logo"), cocktails_path %>
  </div>
  <div class="right-side">
  </div>
</div>

<div class="back-button">
  <%= link_to fa_icon("chevron-left", text: "Back"), cocktails_path, class:"back-button-icon" %>
</div>

<div class="show-body">
  <div class="new-cocktail-form">
    <%= simple_form_for @cocktail do |f| %>
      <h6>new cocktail</h6>
      <%= f.text_field :name, placeholder:"Name", class:"new-cocktail-name" %>
      <br>
      <br>
      <br>
      <h6>photo</h6>
      <div class="blank-gray">
        <p>&nbsp;</p>
      </div>
      <%= f.input :photo, as: :file %>
      <%= f.submit "Create", class:"submit-button" %>
    <% end %>
  </div>
</div>
