<div class="navbar">
  <div class="left-side"></div>
  <div class="center-side">
    <%= link_to image_tag('logo.svg', class:"logo"), cocktails_path %>
  </div>
  <div class="right-side">
    <%= link_to "Add cocktail", new_cocktail_path, class:"new-cocktail" %>
  </div>
</div>

<div class="back-button">
  <%= link_to fa_icon("chevron-left", text: "Back"), cocktails_path, class:"back-button-icon" %>
</div>
<div class="show-body">
  <div class="show-left">
    <div class="cocktail-card-show">
      <div class="cocktail-link">
        <%= @cocktail.name %>
      </div>
    </div>
  </div>
  <div class="show-right">
    <div class="ingredient-list">
      <h6>ingredients</h6>
      <% @cocktail.doses.each do |dose| %>
        <div class="dose-line">
          <div class="remove-dose">
            <%= link_to fa_icon("times"), dose, method: :delete, data: { confirm: 'Are you sure?' }, class:"dose-trash" %>
          </div>
          <p class="dose-description"><%= dose.ingredient.name + " (" + dose.description + ")" %></p>
        </div>
      <% end %>
    </div>
    <div class="new-dose">
      <h6 class="add-new-ingredient-text">add new ingredient</h6>
      <%= render "doses/new", cocktail: @cocktail, dose: @dose %>
    </div>
  </div>
</div>


<!-- form that accepts a ingredient from a dropdown list, and a description from a text field -->




